.App {
  background: rgb(57, 76, 131);
  padding-top: 20px;
}

.editor-window,
.preview-window {
  box-sizing: border-box;
  width: 50%;
  margin: auto;
  border: 3px solid rgb(201, 201, 201);
}

.editor-window {
  margin-bottom: 20px;
  height: fit-content;
}

.preview-window {
  width: 60%;
}

@media only screen and (max-width: 800px) {
  .editor-window,
  .preview-window {
    width: 95%;
    /* margin: 0; */
  }
}
