.header {
  box-sizing: border-box;
  width: 100%;
  padding-left: 10px;
}

.header h3 {
  margin: 0;
}

#Editor-header {
  background: white;
  color: black;
}

#Preview-header {
  background: rgb(49, 49, 49);
  color: rgb(205, 225, 231);
}
