#preview {
  padding: 0 20px;
  height: 360px;
  overflow-y: auto;
  background: rgb(214, 211, 197);
}

#preview img {
  width: 100px;
}

#preview pre {
  background: white;
  padding: 5px;
}

#preview code {
  background: white;
  padding: 1px 4px 2px 4px;
  font-size: 12px;
  font-weight: bold;
  font-family: monospace;
}
